.about-sec {
	background: url("../img/about/bg-about.jpg") no-repeat center top;
	@include res(xl) {
		background: url("../img/about/bg-about-note.jpg") no-repeat center top;
	}
	@include res(l) {
		padding-top: $pad-xs;
		background: url("../img/about/bg-about-tablet.jpg") no-repeat center top;
		background-size: cover;
	}
	@include res(s) {
		padding-top: $pad-xxs;
	}
}

.about {
	padding-bottom: $pad-s;
	@include res(s) {
		padding-top: $pad-xxs;
		padding-bottom: $pad-xxs;
	}
}

.about__info {
	max-width: 580px;
	margin: 0 auto;
	@include res(xl) {
		max-width: 540px;
	}
	.page-title {
		.page-title__top, .h1, .user-content {
			opacity: 0;
			transition: all 0.1s ease;
			transform: translate3d(0,30px,0);
		}
		&.animated {
			.page-title__top, .h1, .user-content {
				opacity: 1;
				transform: translate3d(0,0,0);
			}
			.page-title__top {
				transition: transform 1.5s ease, opacity 0.6s ease-in;
			}
			.h1 {
				transition: transform 1.5s ease 0.2s, opacity 0.6s ease-in 0.2s;
			}
			.user-content {
				transition: transform 1.5s ease 0.4s, opacity 0.6s ease-in 0.4s;
			}
		}
	}
	.user-content {
		opacity: 0;
		transition: all 0.1s ease;
		transform: translate3d(0,30px,0);
		&.animated {
			opacity: 1;
			transform: translate3d(0,0,0);
			transition: transform 1.5s ease, opacity 0.6s ease-in;
		}
	}
}

.about__books {
	display: none;
	opacity: 0;
	transition: all 0.1s ease;
	transform: translate3d(0,30px,0);
	@include res(l) {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: $pad-xs;
	}
	&.animated {
		opacity: 1;
		transform: translate3d(0,0,0);
		transition: transform 1.5s ease, opacity 0.6s ease-in;
	}
}

.about__book {
	padding-left: 10px;
	padding-right: 10px;
	@include res(s) {
		padding-left: 6px;
		padding-right: 6px;
	}
	img {
		max-width: 100%;
	}
}

.about__serts {
	padding-top: $pad-xl;
	text-align: center;
	@include res(xl) {
		padding-top: $pad-l;
	}
	@include res(l) {
		padding-top: $pad-m;
	}
	@include res(s) {
		padding-top: $pad-s;
	}
	opacity: 0;
	transition: all 0.1s ease;
	transform: translate3d(0,30px,0);
	&.animated {
		opacity: 1;
		transform: translate3d(0,0,0);
		transition: transform 1.5s ease, opacity 0.6s ease-in;
	}
}

.about__serts-slider {
	margin-top: $pad-s;
	margin-bottom: $pad-m;
	@include res(l) {
		margin-top: $pad-xs;
		margin-bottom: $pad-s;
	}
	@include res(m) {
		margin-bottom: $pad-xs;
	}
	@include res(s) {
		margin-bottom: $pad-xxs;
	}
}

.about__serts-slide {
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
	img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
		box-shadow: 5px 5px 10px 0 transparentize(#000, 0.5);
		@include res(l) {
			max-height: 200px;
		}
	}
}

.about__serts-slider-descr {
	max-width: 350px;
	margin: 0 auto;
	padding-left: $pad-s;
	padding-right: $pad-s;
	.slick-next {
		position: absolute;
		right: 0px;
		top: 0px;
		width: 30px;
		height: 100%;
		cursor: pointer;
		transition: all 0.3s ease;
		opacity: 1;
		&:hover {
			&:after {
				border-color: $link-hover;
			}
		}
		&:after {
			content: '';
			position: relative;
			top: 10px;
			display: block;
			width: 20px;
			height: 20px;
			margin: 0 auto;
			border-right: 3px solid #1c3646;
			border-bottom: 3px solid #1c3646;
			border-radius: 0 2px 2px 2px;
			transition: all 0.3s ease;
			transform: rotate(-45deg) translate3d(0,0,0);
		}
	}
	.slick-prev {
		position: absolute;
		left: 0px;
		top: 0px;
		width: 30px;
		height: 100%;
		cursor: pointer;
		transition: all 0.3s ease;
		opacity: 1;
		&:hover {
			&:after {
				border-color: $link-hover;
			}
		}
		&:after {
			content: '';
			position: relative;
			top: 10px;
			display: block;
			width: 20px;
			height: 20px;
			margin: 0 auto;
			border-left: 3px solid #1c3646;
			border-bottom: 3px solid #1c3646;
			border-radius: 2px 0 2px 2px;
			transition: all 0.3s ease;
			transform: rotate(45deg) translate3d(0,0,0);
		}
	}
}

.about__serts-slide-descr {
	font-size: 14px;
	p {

	}
	b {
		display: block;
	}
	span {
		display: block;
		padding-top: $pad-xxs;
		@include res(s) {
			padding-top: 5px;
		}
	}
}