.confidence-sec {
	position: relative;
	display: flex;
	align-items: center;
	min-height: 980px;
	background: url("../img/confidence/bg-confidence.jpg") no-repeat center bottom, #edf7f8;
	@include res(l) {
		min-height: 510px;
		background: url("../img/confidence/bg-confidence-tablet.jpg") no-repeat center bottom, #edf7f8;
		background-size: 100% auto;
	}
	@include res(m) {
		padding-bottom: 320px;
		background: url("../img/confidence/bg-confidence-tablet-vert.jpg") no-repeat center bottom, #edf7f8;
		background-size: auto 370px;
	}
	@include res(s) {
		min-height: initial;
		padding-bottom: 280px;
		background: url("../img/confidence/bg-confidence-mobile.jpg") no-repeat center bottom, #edf7f8;
		background-size: auto 280px;
	}
	&:before {
		content: '';
		position: absolute;
		top: -1px;
		left: 0;
		right: 0;
		width: 100%;
		height: 90px;
		display: block;
		background: url('../img/waves/bottom-video.svg') no-repeat;
		background-position: 50% 0%;
		background-size: 100% auto;
		z-index: 1;
		@include res(s) {
			height: 30px;
		}
	}
	&:after {
		content: '';
		position: absolute;
		bottom: -1px;
		left: 0;
		right: 0;
		width: 100%;
		height: 90px;
		display: block;
		background: url('../img/waves/top-head-about.svg') no-repeat;
		background-position: 50% 100%;
		background-size: 100% auto;
		z-index: 1;
	}
}

.confidence {
	display: flex;
	justify-content: flex-end;
	@include res(m) {
		justify-content: flex-start;
	}
}

.confidence__info {
	max-width: 580px;
	@include res(l) {
		max-width: 480px;
		overflow: hidden;
	}
	@include res(m) {
		max-width: 520px;
		padding-top: $pad-m;
	}
	@include res(s) {
		padding-top: $pad-xs;
	}
	@include res(xs) {
		padding-top: $pad-xxs;

	}
	.page-title__top, .h1, .user-content {
		opacity: 0;
		transition: all 0.1s ease;
		transform: translate3d(30px,0,0);
	}
	&.animated {
		.page-title__top, .h1, .user-content, .btn-wrap {
			opacity: 1;
			transform: translate3d(0px,0,0);
		}
		.page-title__top {
			transition: transform 1.5s ease, opacity 0.6s ease-in;
		}
		.h1 {
			transition: transform 1.5s ease 0.2s, opacity 0.6s ease-in 0.2s;
		}
		.user-content {
			transition: transform 1.5s ease 0.4s, opacity 0.6s ease-in 0.4s;
		}
		.btn-wrap {
			transition: transform 1.5s ease 0.6s, opacity 0.6s ease-in 0.6s;
		}
	}
}
