.contact-sec {
	position: relative;
	padding-bottom: 120px;
	background: url("../img/form/bg-form.jpg") no-repeat center top;
	@include large() {
		padding-bottom: 160px;
		background: url("../img/form/bg-form-large.jpg") no-repeat center top;
		background-size: cover;
	}
	@include res(l) {
		padding-bottom: $pad-xl;
	}
	@include res(s) {
		padding-bottom: $pad-l;
	}
	&:before {
		content: '';
		position: absolute;
		top: -89px;
		left: 0;
		right: 0;
		width: 100%;
		height: 90px;
		display: block;
		background: url('../img/waves/top-head-video.svg') no-repeat;
		background-position: 50% 100%;
		background-size: 100% auto;
		z-index: 1;
		pointer-events: none;
		@include large() {
			height: 120px;
			top: -119px;
		}
		@include res(xs) {
			top: -29px;
			height: 30px;
		}
	}
	&:after {
		@include large() {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 30%;
			background: linear-gradient(to bottom, #1c3646, transparent);
			z-index: 0;
		}
	}
}

.contact {
	position: relative;
	color: #fff;
	z-index: 1;
	.page-title {
		.page-title__top, .h1, .user-content {
			opacity: 0;
			transition: all 0.1s ease;
			transform: translate3d(0,30px,0);
		}
		&.animated {
			.page-title__top, .h1, .user-content {
				opacity: 1;
				transform: translate3d(0,0,0);
			}
			.page-title__top {
				transition: transform 1.5s ease, opacity 0.6s ease-in;
			}
			.h1 {
				transition: transform 1.5s ease 0.2s, opacity 0.6s ease-in 0.2s;
			}
			.user-content {
				transition: transform 1.5s ease 0.4s, opacity 0.6s ease-in 0.4s;
			}
		}
	}
}

.contact__block {
	max-width: 960px;
	margin: $pad-l auto 0;
	opacity: 0;
	transition: all 0.1s ease;
	transform: translate3d(0,30px,0);
	@include res(m) {
		margin-top: $pad-m;
	}
	@include res(s) {
		margin-top: $pad-s;
	}
	&.animated {
		opacity: 1;
		transform: translate3d(0,0,0);
		transition: transform 1.5s ease, opacity 0.6s ease-in;
	}
}

.contact__input-list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	@include res(m) {
		margin-left: -$gutter-mobile;
		margin-right: -$gutter-mobile;
	}
}

.contact__input {
	width: 33.33333%;
	padding-left: $gutter;
	padding-right: $gutter;
	@include res(m) {
		padding-left: $gutter-mobile;
		padding-right: $gutter-mobile;
	}
	@include res(s) {
		width: 100%;
	}
}

.contact__comment {
	padding-left: $gutter;
	padding-right: $gutter;
	padding-bottom: $pad-s;
	@include res(m) {
		margin-left: -$gutter-mobile;
		margin-right: -$gutter-mobile;
		padding-left: $gutter-mobile;
		padding-right: $gutter-mobile;
		padding-bottom: $pad-xs;
	}
	@include res(s) {
		padding-bottom: 15px;
	}
}

.contact__submit {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: $gutter;
	padding-right: $gutter;
	@include res(m) {
		margin-left: -$gutter-mobile;
		margin-right: -$gutter-mobile;
		padding-left: $gutter-mobile;
		padding-right: $gutter-mobile;
	}
	@include res(s) {
		flex-wrap: wrap;
		justify-content: center;
	}
}