.experience-sec {
	background: url('../img/experience/bg-experience.jpg') no-repeat center bottom, #f6f8fa;
	background-size: 100% auto;
	@include res(l) {
		background-size: auto auto;
	}
}

.experience {
	.page-title {
		.page-title__top, .h1, .user-content {
			opacity: 0;
			transition: all 0.1s ease;
			transform: translate3d(0,30px,0);
		}
		&.animated {
			.page-title__top, .h1, .user-content {
				opacity: 1;
				transform: translate3d(0,0,0);
			}
			.page-title__top {
				transition: transform 1.5s ease, opacity 0.6s ease-in;
			}
			.h1 {
				transition: transform 1.5s ease 0.2s, opacity 0.6s ease-in 0.2s;
			}
			.user-content {
				transition: transform 1.5s ease 0.4s, opacity 0.6s ease-in 0.4s;
			}
		}
	}
}

.experience__programm {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: $pad-xxl;
	@include res(xl) {
		padding-top: $pad-xl;
	}
	@include res(l) {
		padding-top: $pad-l;
	}
	@include res(s) {
		padding-top: $pad-m;
	}
	@include res(xs) {
		padding-top: $pad-xs;
	}
	&.animated {
		.experience__programm-item {
			opacity: 1;
			transform: translate3d(0,0,0);
			&--1 {
				transition: all 0.8s ease 0.6s;
			}
			&--2 {
				transition: all 0.8s ease 0.3s;
			}
			&--3 {
				transition: all 0.8s ease;
			}
			&--4 {
				transition: all 0.8s ease 0.3s;
			}
			&--5 {
				transition: all 0.8s ease 0.6s;
			}
		}
	}
}

.experience__programm-item {
	width: 20%;
	padding-left: $pad-xs;
	padding-right: $pad-xs;
	opacity: 0;
	transform: translate3d(0,30px,0);
	transition: all 0.1s ease;
	@include res(s) {
		padding-left: $pad-xxs;
		padding-right: $pad-xxs;
	}
	@include res(xxs) {
		padding-left: 5px;
		padding-right: 5px;
	}
	img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}

}
