.modal {
	display: none;
	width: 500px;
	max-width: 100%;
	padding: 24px;
	border-radius: 15px;
	color: #fff;
	will-change: transform,opacity;
	overflow: visible !important;
	opacity: 0;
	background: #1c3646;
	transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
	@include res(l) {
		padding: 20px;
	}
	@include res(s) {
		padding: 0px 25px;
		vertical-align: top;
		background: transparent;
	}
	@include res(xxxs) {
		padding: 20px 15px;
	}
	.btn-center {
		padding-top: $pad-xs;
		@include res(s) {
			padding-top: 0;
		}
	}
	&--thanks {
		text-align: center;
	}
}

.modal__title {
	padding-bottom: $pad-s;
	text-align: center;
	@include res(s) {
		padding-bottom: $pad-xs;
	}
	.h2 {
		@include res(s) {
			font-size: 26px;
		}
	}
}

.modal__title-descr {
	font-size: 16px;
	@include res(l) {
		font-size: 14px;
		font-weight: 300;
	}
}

.fancybox-slide--current {
	.modal {
		opacity: 1;
	}
}

.fancybox-is-closing{
	.modal {

	}
}

.fancybox-is-open {
	.fancybox-bg {
		opacity: 1;
	}
}

.fancybox-bg{
	opacity: 0;
	background: rgba(0, 0, 0, 0.7);
	@include res(s) {
		background: #1c3646;
	}
}

.fancybox-close-small,.fancybox-slide--image .fancybox-close-small, .fancybox-slide--iframe .fancybox-close-small{
	@include cross();
}

.fancybox-slide--iframe .fancybox-content{
	width: 90%;
	height: 85%;
	max-width: calc(100% - 40px);
	max-height: calc(100% - 40px);
	@include res(s){
		width: 100%;
		max-width: calc(100% - 10px);
	}
}