.services-sec {
	min-height: 948px;
	background: url('../img/services/bg-services.jpg') no-repeat center bottom, #f3fafa;
	@include large() {
		background: url('../img/services/bg-services-large.jpg') no-repeat center bottom, #f3fafa;
		background-size: cover;
	}
	@include res(l) {
		min-height: 510px;
		background-size: 100% auto;
	}
	@include res(m) {
		padding-bottom: 305px;
		background-size: auto 380px;
	}
	@include res(s) {
		min-height: initial;
		padding-bottom: 300px;
		background: url('../img/services/bg-services-mobile.jpg') no-repeat center bottom, #f3fafa;
		background-size: auto 280px;
	}
}

.services {}

.services__info {
	max-width: 645px;
	margin-top: 220px;
	padding-bottom: $pad-l;
	@include res(xl) {
		max-width: 614px;
	}
	@include res(l) {
		margin-top: $pad-l;
		max-width: 520px;
	}
	@include res(m) {
		padding-bottom: 0;
	}
	@include res(s) {
		margin-top: 0;
		overflow: hidden;
	}
	.page-title__top {
		opacity: 0;
		transition: all 0.1s ease;
		transform: translate3d(30px,0,0);
	}
	.h1 {
		opacity: 0;
		transition: all 0.1s ease;
		transform: translate3d(30px,0,0);
	}
	.user-content {
		padding-bottom: $pad-m;
		opacity: 0;
		transition: all 0.1s ease;
		transform: translate3d(30px,0,0);
		@include res(l) {
			padding-bottom: $pad-s;
		}
		@include res(s) {
			padding-bottom: $pad-xs;
		}
	}
	.btn-wrap {
		opacity: 0;
		transition: all 0.1s ease;
		transform: translate3d(30px,0,0);
	}
	&.animated {
		.page-title__top, .h1, .user-content, .btn-wrap {
			opacity: 1;
			transform: translate3d(0px,0,0);
		}
		.page-title__top {
			transition: transform 1.5s ease, opacity 0.6s ease-in;
		}
		.h1 {
			transition: transform 1.5s ease 0.2s, opacity 0.6s ease-in 0.2s;
		}
		.user-content {
			transition: transform 1.5s ease 0.4s, opacity 0.6s ease-in 0.4s;
		}
		.btn-wrap {
			transition: transform 1.5s ease 0.6s, opacity 0.6s ease-in 0.6s;
		}
	}
}
