.video-sec {
	position: relative;
	background: url("../img/video/bg-video.jpg") no-repeat center center, #1c3646;
	@include large() {
		background: url("../img/video/bg-video-large.jpg") no-repeat center center, #1c3646;
		background-size: cover;
	}
	&:before {
		content: '';
		position: absolute;
		top: -89px;
		left: 0;
		right: 0;
		width: 100%;
		height: 90px;
		display: block;
		background: url('../img/waves/top-head-video.svg') no-repeat;
		background-position: 50% 100%;
		background-size: 100% auto;
		z-index: 1;
		@include large() {
			height: 120px;
			top: -119px;
		}
	}
}

.video {}

.video__list {
	display: flex;
	justify-content: center;
	margin-left: -$gutter;
	margin-right: -$gutter;
	@include res(m) {
		flex-wrap: wrap;
		margin-left: 0;
		margin-right: 0;
	}
	&.animated {
		.video__item {
			opacity: 1;
			transform: translate3d(0,0,0);
			&--1 {
				transition: all 1s ease;
			}
			&--2 {
				transition: all 1s ease 0.2s;
			}
			&--3 {
				transition: all 1s ease 0.4s;
			}
		}
	}
}


.video__item {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 33.33333%;
	color: #fff;
	margin-left: $gutter;
	margin-right: $gutter;
	padding: 30px 24px;


	transform: translate3d(0,60px,0);
	opacity: 0;
	transition: all 0.1s ease;
	@include res(l) {
		padding: 25px 16px;
	}
	@include res(m) {
		width: 100%;
		max-width: 480px;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: $pad-s;
		padding: 22px 14px;
		text-align: center;
		opacity: 1;
		transform: translate3d(0,0,0);
		transition: none!important;
	}
	@include res(s) {
		padding: 16px 12px;
	}
	&:last-child {
		margin-bottom: 1px;
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border: 1px solid #42c4da;
		border-radius: 18px;
		z-index: 0;
	}
}

.video__item-count {
	position: absolute;
	display: inline-block;
	top: -11px;
	left: 24px;
	padding: 0 3px;
	text-align: center;
	background: #1c3646;
}

.video__item-info-wrap {
	padding-bottom: $pad-xl;
	@include res(xl) {
		padding-bottom: $pad-l;
	}
	@include res(l) {
		padding-bottom: $pad-m;
	}
	@include res(m) {
		padding-bottom: $pad-s;
	}
	@include res(xs) {
		padding-bottom: $pad-xs;
	}
}

.video__item-info {
	padding-top: 5px;
	@include res(s) {
		padding-top: 0;
	}
}

.video__item-title {
	display: flex;
	align-items: center;
	@include res(m) {
		justify-content: center;
	}
	.h3 {
		margin-bottom: 0;
		padding-bottom: $pad-xxs;
	}
}

.video__item-play {
	position: relative;
	display: block;
	margin: 0 auto $pad-s;
	&:hover {
		.video__item-previcon {
			transform: scale(1.2) translate3d(0,0,0);
		}
	}
	video {
		display: block;
		max-width: 100%;
		margin: 0 auto;
		border-radius: 15px;
		@include res(l) {
			display: none;
		}
	}
}

.video__item-preview {
	display: none;
	max-width: 100%;
	margin: 0 auto;
	border-radius: 15px;
	@include res(l) {
		display: block;
	}
}

.video__item-previcon {
	position: absolute;
	bottom: -22px;
	left: 0;
	right: 0;
	display: block;
	width: 55px;
	height: 55px;
	margin: 0 auto;
	transition: all 0.3s ease;
	transform: scale(1) translate3d(0,0,0);
}

.video__item-contact {
	text-align: center;
	&>span {
		display: block;
		margin-top: 10px;
		font-size: 14px;
		@include res(s) {
			font-size: 12px;
		}
	}
	.btn {
		width: 100%;
		color: #1c3646;
		white-space: nowrap;
	}
}
